{% extends 'base.html.twig' %}

{% block title %}Westown Sheriff | Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<main id="index">
    <section class="main-inscription">
        <span style="visibility: hidden;" id="top"></span>

        <h1>Vous voulez devenir shérif ?</h1>

        {{ form_start(registrationForm) }}
            <div id="form-inscription">
                <div class="cont-form first-row">
                    {{ form_label(registrationForm.firstname,'Prénom') }}
                    {{ form_widget(registrationForm.firstname, {'attr': {
                                 'id':'name',
                                 'placeholder':'Prénom',
                    }
                    }) }}
                </div>

                <div class="cont-form first-row">
                    {{ form_label(registrationForm.lastname,'Nom') }}
                    {{ form_widget(registrationForm.lastname, {'attr': {
                            'id':'surname',
                            'placeholder':'Nom',
                        }
                    }) }}
                </div>

                <div class="cont-form first-row">
                    {{ form_label(registrationForm.pseudo,'Pseudo') }}
                    {{ form_widget(registrationForm.pseudo, {'attr': {
                            'id':'pseudo',
                            'placeholder':'Pseudo',
                        }
                    }) }}
                </div>

                <div class="cont-form first-row">
                    {{ form_label(registrationForm.birthday, 'Date de naissance') }}
                    {{ form_widget(registrationForm.birthday, {'attr': {
                            'id':'bday',
                            'placeholder':'Anniversaire',
                        }
                    }) }}
                </div>

                <div class="cont-form">
                    {{ form_label(registrationForm.email, 'Mail') }}
                    {{ form_widget(registrationForm.email, {'attr': {
                            'id':'mail',
                            'placeholder':'Mail',
                        }
                    }) }}
                </div>

                <div class="cont-form">
                    {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {
                            'id':'passwd',
                            'placeholder':'Mot de passe',
                        }
                    }) }}
                </div>

                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Accepter les Conditions générales d\'utilisations', 'attr': {'class': 'cont-form first-row'}
                }) }}
            </div>
                <div id="inscription-link-cont">
                    <p class="inscription-link-p"><a href="{{ path('app_login') }}">Déjà un compte ? Allez vite candidater pour devenir shérif !</a></p>
                </div>
                <br />

                <div id="submit-inscription">
                    <input type="submit" name="submit" value="Inscription">
                </div>
            {{ form_end(registrationForm) }}
    </section>
</main>

{% endblock %}
