<div class="row">
    <div class="col-8">
        Cartes de l'adversaire
        {% for card in adversaire.handCards %}
            <img src="{{ asset('assets/plateau/recto.png') }}" width="10%">
            <!--<span style="border: 1px solid black; margin:3px; padding:5px">
                {{ cards[card].number }}
            </span>-->
        {% endfor %}
    </div>
    <div class="col-4">
        Actions
        <button id="secreta">Secret</button>
        <button  id="depota">Depot</button>
        <button  id="offrea">Offre</button>
        <button  id="echangea">Echange</button><br>
    </div>
</div>
<div class="row">
    Plateau adversaire
</div>
<div class="row">
    {% for i in 1..7 %}
        <div class="col-1">
                <span style="border: 1px solid black; margin:3px; padding:5px">
                    EMPL{{ i }}
                </span>
        </div>
    {% endfor %}

</div>
<div class="row">
    Mon Plateau
</div>
<div class="row">
    <div class="col-8">
        {% for card in moi.handCards %}
             <img src="{{ asset('assets/cartes/objets/'~cards[card].picture) }}" alt="{{cards[card].name}}" width="10%">
            <span style="border: 1px solid black; margin:3px; padding:5px">
                {{ cards[card].number }}
                    <input type="radio" name="carte_secret" value="{{ card }}"
                           style="display: none"
                           class="choixSecret">
                </span>
        {% endfor %}
    </div>
    <div class="col-4">
        Mes Actions
        <button id="secret">Secret</button>
        <button  id="depot">Depot</button>
        <button  id="offre">Offre</button>
        <button  id="echange">Echange</button><br>
        <button id="valider" style="display: none">Valider action</button>
    </div>
</div>
