{% extends 'base.html.twig' %}
{% block stylesheets %}
  <style>
    nav {
      display: none;
    }
  </style>
{% endblock %}

{% block body %}


{{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}

<div id="message">...</div>
{% endblock %}

{% block title %}
  Westown Sheriff | Jeu
{% endblock %}

{% block javascripts %}
  <script src="{{  asset('assets/js/jouer.js') }}"></script>
<script>
  let boucle
  $(document).ready(function(){
    boucle = setInterval(refreshGame, 3000);
  })

  $(document).on('click', '#finDeTour', function() {
    //mettre à jour game en changeant quiJoue
    //Bloquer le plateau (overlay, ...)
    //Relancer le timer...
  })

  function refreshGame() {
    $.ajax({
      url: "{{ path('get_tour', {game: game.id}) }}",
      success: function(data) {
        console.log(data)
        if (data == false) {
          $('#message').html('Tour de votre adversaire')
        } else {
          $('#message').html('C\'est mon tour...')
          //mettre à jour le plateau, dès que je récupère true
          clearInterval(boucle)
        }
      },
      error: function(){

      }
    })
  }

  let action
    $(document).on('click', '#secret', function(){
      console.log('secret')
      action = 'secret' //mémorise l'action en cours
      $('.choixSecret').show()
      $('#valider').show()
    })

    $(document).on('click', '#valider', function(){
      switch (action) {
        case 'secret':
            donneesAction = {
              action: 'secret',
              carte: $('input[name="carte_secret"]:checked').val(),
            }
          break;
        case 'depot':

          break;
        case 'offre':

          break;
        case 'echange':

          break;
      }

      $.ajax({
        url: "{{ path('action_game', {game: game.id}) }}",
        data: donneesAction,
        method: 'POST',
        success: function(data) {
            if (data == true) {
              $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
            }
        },
        error: function(){

        }
      })
    })

    /*$(document).ready(
            function() {
              $("#envoyerMessage").click(
                      function() {
                        var m = $("#message").val()
                        $.ajax({
                          url: "dire.php?message=" + m
                        }).done(function() {
                          document.getElementById("message").value = "";
                        })
                      }
              )

              setInterval(
                      function() {
                        $.ajax({
                          url: "affichage.php"
                        }).done(function(messagesChat) {
                          $("#affichage").html(messagesChat)
                        })
                      }, 1000
              )
            });*/
</script>
{% endblock %}
